@CHARSET "UTF-8";

.error-input {
	border-color: #ff0000;
	background-color: #ff0000;
	margin-left: 5px;
}

.error-messages {
	color: #ff0000;
}

/*
#searchName {
	list-style-type: none;
	color: red;
	
}
*/

.ui-helper-hidden-accessible {
	display: none;
}
